.cardsList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 95px 70px 0px 70px;
    flex-wrap: wrap;
}
@media screen and (max-width: 860px){
    .cardsList{
        justify-content: center;
    }
}
@media screen and (max-width: 468px){
    .cardsList{
        padding-top: 140px;
    }
}